/* Flashcard */
.main-title-block {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Inter", sans-serif;
    background: #ffffff;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    min-height: 200px;
    min-width: 200px;
    max-width: 1000px;
}

form {
    width: 100%;
    max-width: 100%;
}

/* Contains all elements for a flash card */
.card-nav {
     display: grid;
  place-items: center;
}

/* Navigation button */
#card-nav {
    margin: -2%;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    height:80px;
}

/* Displays current card number */
.card-num {
    text-align: center;
    padding: 20px;
}

/* Box containing question and user input */
.question-box {
    padding:25px;
    display: flex;
    place-items: center;
    font-family: "Inter", sans-serif;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    margin: 20px;
    max-width: 1000px;
     min-height: 200px;
    min-width: 200px;
}


.blank-textbox {
    width: 100px;
    height: 25px;
}

/* Contains entire question */
.question {
      display: none;
  place-items: center;
}

#progress-bar{
    z-index: 11;
    position: fixed;
    left: 10%;
    height:5px;
    width:1%;
    top: 80px;   /* distance from top */
    right: 10%;
    background-color: #4287f5;
    outline: 2px white solid;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.08);
}

#progress-bar-back{
    z-index: 10;
 position: fixed;
    left: 10%;
    height:5px;
    width:80%;
    top: 80px;   /* distance from top */
    right: 10%;
    background-color: #c9d7ee;
    outline: 2px white solid;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.08);
}

/* Correct answer text */
.correct-answer{
    background-color: #d4f8d4; 
    font-weight: bold;
}

/* Correct answer text */
.incorrect-answer{
    background-color: #f8e1d4; 
    font-weight: bold;
}
.sub-card{
    margin:15px;
    width:100%;
    text-align: left;
}

/* draggable elements */
.draggable{
    cursor: grab;
    background:  #f0f8ff;
    margin:10px;
    min-height: 40px;
    border-radius: 9px;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.3);
    padding:10px;
}

.draggable:active {
    cursor: grabbing;
    background: #828282;
    transform: scale(1.04);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.draggable:hover {
    background:  #cedfed;
}