<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading - LearnlyAI</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/flashcards.css">
</head>
<body>
      {% include "menu-bar.html" %}

     <main class="flashcard-container">
        <h2>Your AI-Generated Flashcards</h2>
    
    <form method="POST" action="/save-flashcards">
        <label for="set-name">Flashcard Set Name:</label>
        <input type="text" id="set-name" name="set_name" value ="{{set_name}}" placeholder="Enter set name" required>
        {% if flashcards.questions %}
            {% for card in flashcards.questions %}
                <div class="flashcard">
                    <label for="set-name">Question:</label>
                    <textarea name="question-{{ loop.index }}" placeholder="Enter a question" required>{{ card.question }}</textarea>
                    <label for="set-name">Answer:</label>
                    <textarea name="answer-{{ loop.index }}" placeholder="Enter an answer" required>{{ card.answer }}</textarea>
                </div>
            {% endfor %}
        {% else %}
            <p>No flashcards generated yet. Try uploading a PDF!</p>
        {% endif %}

        <input type="hidden" name="flashcards" value='{{ flashcards | tojson }}'>
        <button type="submit">Save</button>
    </form>
    </main>



</body>
</html>
