<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Flashcards</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/home.css">
    </head>


    <body>

            <!-- Top Navigation Bar -->
        <header>
            <div class="logo">LearnlyAI</div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="/upload">Upload PDF</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </header>
        <main>

        <div id="new-class-div">
            <h1>Subject</h1>
            <button>Create subject</button>
        </div>

        <div class="controls">
            <input type="text" id="searchInput" placeholder="Search flashcard sets...">
            <select id="sortSelect">
                <option value="recent">Sort by Recent</option>
                <option value="az">Sort A-Z</option>
                <option value="za">Sort Z-A</option>
            </select>
        </div>

         <div class="subjects-container" id="subjectsContainer">
        {% if subjects %}
            {% for subject in subjects %}
                <form method="POST" action="/open-subject-folder">
                    <input type="hidden" name="subject-name" value="{{ subject[0] }}">
                    <button type="submit" class="subject-button">
                        <h2>{{ subject[0] }}</h2>
                    </button>
                </form>
            {% endfor %}
        {% else %}
            <p>No quizzes saved yet.</p>
        {% endif %}
    </div>
   
</main>
    </body>
</html>
