<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading - LearnlyAI</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/notes.css">
        <script src="static/js/edit-notes.js" defer></script>
</head>

<body>
    <!-- Top Navigation Bar -->
    <header>
        <div class="logo">LearnlyAI</div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="/upload">Upload PDF</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </header>



    <h2 contenteditable="true" id="notes-title"> Quiz title </h2>
     <h3 contenteditable="true" id="notes-subject"> Subject </h3>
    {% if data %}
    {% for main_title, notes in data|groupby('main_title') %}
    {% set safe_title = main_title|replace(' ', '_') %}

    <div id="card_{{ safe_title }}" class="card-nav">
        <div class="title"><h2>{{ main_title }}</h2></div>

        {% for note in notes %}
        <div contenteditable="true" class="sub-card" id="sub_{{ safe_title }}_{{ loop.index0 }}">
            <h3>{{ note.sub_title }}</h3>
            {% for line in note.content %}
            <span>{{ line }}</span><br>
 
            {% endfor %}
        </div>  
        {% endfor %}
        </div>
        {% endfor %}
        {% endif %}
        <button id="generate-button" onclick="generateQuiz()">Generate Quiz</button>





</body>

</html>