<div class="quiz-summary">
    <h1 id="title">{{ set.name }}</h1>
    <div class="quiz-score">{{ set.score }}%</div>
</div>

<div class="quiz-actions">
    <form method="POST" action="/open-quiz">
        <input type="hidden" name="set-name" value="{{ set.name }}">
        <button type="submit" class="btn" name="set-id" value="{{ set.id }}">Start quiz</button>
    </form>

    <form method="POST" action="/edit-quiz">
        <input type="hidden" name="set-name" value="{{ set.name }}">
        <button type="submit" class="btn-secondary btn" name="set-id" value="{{ set.id }}">Edit questions</button>
    </form>

    <form method="POST" action="/delete-quiz">
        <input type="hidden" name="set-name" value="{{ set.name }}">
        <button class="btn btn-danger" type="submit" name="set-id" value="{{ set.id }}">Delete quiz</button>
    </form>
</div>
