

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Flashcards</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/home.css">
    </head>


    <body>

          {% include "menu-bar.html" %}
        <main>

        <div id="new-class-div">
            <h1>{{subject}}</h1>
        </div>
        <div id="subjects-container">
        <div class="controls">
            <input type="text" id="searchInput" placeholder="Search flashcard sets...">
            <select id="sortSelect">
                <option value="recent">Sort by Recent</option>
                <option value="az">Sort A-Z</option>
                <option value="za">Sort Z-A</option>
            </select>
        </div>

         <div class="subjects-container" id="subjectsContainer">
        {% if quizzes %}
            {% for set in quizzes %}
            <div class="subject-form">
                <form method="POST" action="/quiz-preview">
                    <input type="hidden" name="set-id" value="{{ set.id }}">
                    <button type="submit" class="subject-button">
                        <h2>{{ set.name }}</h2>
                    </button>
                </form>
            </div>
            {% endfor %}
        {% else %}
            <p>No quizzes saved yet.</p>
        {% endif %}
    </div>
        </div>
           
        <a href="/upload"> <button id="generate-quiz-btn">Create new quiz</button></a>
  
   
</main>
    </body>
</html>